<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app with Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur optio maxime ex aut sed animi quasi eveniet necessitatibus praesentium? Totam asperiores eum ullam cum vero exercitationem! Odio aut iusto officia!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus error asperiores optio aut eligendi. Quas voluptas rem mollitia enim dolores.</p>
    <a href="https://www.youtube.com" class="btn btn-primary">youtube</a>
</div>
